[{:block/name "[[article]]/as we may think",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[article]]/how can we ",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "[[article]]/how can we deve",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[article]]/how can we develop ",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "[[article]]/how can we develop tra",
  :block/created-at 1643905631597,
  :block/updated-at 1643905631597}
 {:block/name "[[article]]/how can we develop tran",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "[[article]]/how can we develop transformative ",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name
  "[[article]]/how can we develop transformative tools for ",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name
  "[[article]]/how can we develop transformative tools for thought",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name
  "[[article]]/how can we develop transformative tools for thought_",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "[[article]]/the universal ",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "[[article]]/the universal design pattern",
  :block/created-at 1642845441418,
  :block/updated-at 1642845442136}
 {:block/name "[[book]]/unflattening",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "[[books]]/augmenting the human intellect",
  :block/created-at 1642845496625,
  :block/updated-at 1642845502575}
 {:block/name "[[books]]/linked_ the new ",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/linked_ the new science of networks",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "[[books]]/magic ink",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/reinventing discovery",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "[[books]]/reinventing discovery ",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631577}
 {:block/name "[[books]]/sketching user experiences",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/trees, maps, and theorems",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/understanding comics",
  :block/created-at 1643905631567,
  :block/updated-at 1643905631567}
 {:block/name "[[books]]/unflattening",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/weaving the web",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "[[books]]/why ",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "[[books]]/why information grows",
  :block/created-at 1643905631567,
  :block/updated-at 1643905631567}
 {:block/name
  "[[study]]/organising knowledge with multi-level content",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631603}
 {:block/name "[[videos]]/design, compositio",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "[[videos]]/design, composition",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "[[videos]]/design, composition, and performance",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "a",
  :block/created-at 1643905631567,
  :block/updated-at 1643905631567}
 {:block/name "a reading list for tools for thought builders",
  :block/created-at 1642845016796,
  :block/updated-at 1643896720408}
 {:block/name "adhd",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "andy matuschak",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "article",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "ask why/how they did it, but never trust the answer",
  :block/created-at 1643304225757,
  :block/updated-at 1643304225757}
 {:block/name "b",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "biohacking",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "books",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "bret victor",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "c",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "card",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "chatting with glue",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "contents",
  :block/created-at 1642842404922,
  :block/updated-at 1642845114742}
 {:block/name "daniel schmachtenberger",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "design",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "doing",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "done",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "doug engelbart",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "favorites",
  :block/created-at 1643905631597,
  :block/updated-at 1643905631597}
 {:block/name "february 1st, 2022",
  :block/created-at 1643673600000,
  :block/updated-at 1643673600000}
 {:block/name "february 2nd, 2022",
  :block/created-at 1643760000000,
  :block/updated-at 1643760000000}
 {:block/name "february 3rd, 2022",
  :block/created-at 1643846400000,
  :block/updated-at 1643846400000}
 {:block/name "francis miller",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "holy-omniscience",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "in-progress",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "january 22nd, 2022",
  :block/created-at 1642841382980,
  :block/updated-at 1642848371791}
 {:block/name "january 23rd, 2022",
  :block/created-at 1642896000000,
  :block/updated-at 1642896000000}
 {:block/name "january 24th, 2022",
  :block/created-at 1642982400000,
  :block/updated-at 1642982400000}
 {:block/name "january 25th, 2022",
  :block/created-at 1643095171347,
  :block/updated-at 1643095187203}
 {:block/name "january 26th, 2022",
  :block/created-at 1643155200000,
  :block/updated-at 1643155200000}
 {:block/name "january 27th, 2022",
  :block/created-at 1643303210852,
  :block/updated-at 1643304231409}
 {:block/name "january 28th, 2022",
  :block/created-at 1643328000000,
  :block/updated-at 1643328000000}
 {:block/name "january 29th, 2022",
  :block/created-at 1643414400000,
  :block/updated-at 1643414400000}
 {:block/name "january 30th, 2022",
  :block/created-at 1643500800000,
  :block/updated-at 1643500800000}
 {:block/name "january 31st, 2022",
  :block/created-at 1643587200000,
  :block/updated-at 1643587200000}
 {:block/name "jonathan blow",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "later",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "max krieger",
  :block/created-at 1643905631564,
  :block/updated-at 1643905631567}
 {:block/name "maybe",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "michael nielsen",
  :block/created-at 1643905631598,
  :block/updated-at 1643905631598}
 {:block/name "nootropics",
  :block/created-at 1643905631577,
  :block/updated-at 1643905631577}
 {:block/name "now",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "open questions",
  :block/created-at 1643905631603,
  :block/updated-at 1643905631603}
 {:block/name "oscar wilde",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "samo burja",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "scott mccloud",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "steve yegge",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "study",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "tangent",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "the ethical brain",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "todo",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "tools for thought",
  :block/created-at 1643905631567,
  :block/updated-at 1643905631567}
 {:block/name "v.s. ramachandran",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "vannevar bush",
  :block/created-at 1643905631577,
  :block/updated-at 1643905631577}
 {:block/name "videos",
  :block/created-at 1643905631601,
  :block/updated-at 1643905631601}
 {:block/name "wait",
  :block/created-at 1643905631576,
  :block/updated-at 1643905631576}
 {:block/name "waiting",
  :block/created-at 1643905631602,
  :block/updated-at 1643905631602}
 {:block/name "writing",
  :block/created-at 1643905631598, 
  :block/updated-at 1643905631598}]
